<h1>You have successfully updated this contact:</h1>

<ul class="list-group">
  <li class="list-group-item list-group-item-success"><%= @contact.first_name %></li>
  <li class="list-group-item list-group-item-info"><%= @contact.last_name %></li>
  <li class="list-group-item list-group-item-warning"><%= @contact.email %></li>
  <li class="list-group-item list-group-item-danger"><%= @contact.phone_number %></li>
</ul>